
{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "always",
  "quoteProps": "consistent"
}
